/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mini-container {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

main > * {
    margin: 20px;
}

.my-col-1-3 {
    width: calc((100% / 3) * 1);
}

.my-col-2-3 {
    width: calc((100% / 3) * 2);
}

/* 
    HEADER
*/

/* HEADER-TOP */
.header-top {
    display: flex;
    justify-content: flex-start;
}

.header-top > * {
    width: calc(100% / 2);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-top > div:last-child {
    justify-content:flex-end;
}

.header-top > * > * {
    padding: 20px;
}


/* HEADER-BOTTOM */
.header-bottom {
    background: linear-gradient(
    to top,
    white 0%,
    white 10%,
    #676ecd 10%,
    #676ecd 100%
  );
}

.header-bottom-up {
    margin-top: 30px;
}


.header-bottom-down {
    display: flex;
    justify-content: justify;
}

.header-bottom img {
    width: 100%;
}

.header-bottom-down > div:first-child {
    height: 370px;
}


/* 
    MAIN
*/

.mini-container > * {
    margin: 10px;
}

.my-row {
    display: flex;
    justify-content: space-between;

}

.my-row {
    margin: 10px;
}

.my-card {
    width: calc((100% / 3) - 20px);
    border: 1px solid lightgray;
}

.card-icon {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.card-supply > hr {
    border: 1px solid lightgray;
    width: 70px;
}

.product-container > *:not(:first-child) {
    margin-top: 20px;
}

/* 
    FOOTER
*/

/* 
    DEBUG
*/
.debug header .header-top > * {
    background-color: turquoise;
    border: 2px dashed green;
    height: 7vh;
}


.debug header .header-bottom {
    /* background-color: #3F48CC; */
    height: 780px;
    border: 2px dashed red;    
}

.debug header .header-bottom .header-bottom-up {
    height: 300px;
    background-color: red;
    border: 2px dashed yellow;

}

.debug header .header-bottom .header-bottom-down {
    height: 400px;
    background-color: green;
    border: 2px dashed yellow;
}

.debug header .header-bottom .header-bottom-down > * {
    border: 2px dashed blue;
}

/* MAIN */
.debug main .mini-container {
    background-color: chartreuse;
}

.debug main .mini-container h2 {
    background-color: red;
    border: 2px dashed blue;
}

.debug main .mini-container div:first-of-type {
    background-color: red;
    border: 2px dashed blue;
}