/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mini-container {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

main > * {
    margin: 20px;
}

.my-col-1-3 {
    width: calc((100% / 3) * 1);
}

.my-col-2-3 {
    width: calc((100% / 3) * 2);
}

.green {
    background-color: #A2D39B;
}

.brown {
    background-color: #61082B;
}

.cyan {
    background-color: #0093CE;
}

.blood-red {
    background-color: #FF1C1C;
}

.red {
    background-color: #D5001F;
}

.gray {
    background-color: #B4D0E7;
}

.blue {
    background-color: #0D2481;
}

.yellow {
    background-color: #FFD830;
}


ul {
    list-style-type: none;
}

/* 
    HEADER
*/

/* HEADER-TOP */
.header-top {
    display: flex;
    justify-content: flex-start;
}

.header-top > * {
    width: calc(100% / 2);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-top > div:last-child {
    justify-content:flex-end;
}

.header-top > * > * {
    padding: 20px;
}


/* HEADER-BOTTOM */
.header-bottom {
    background: linear-gradient(
    to top,
    white 0%,
    white 10%,
    #676ecd 10%,
    #676ecd 100%
  );
}

.header-bottom-up {
    margin-top: 30px;
}


.header-bottom-down {
    display: flex;
    justify-content: justify;
}

.header-bottom img {
    width: 100%;
}

.header-bottom-down > div:first-child {
    height: 370px;
}


/* 
    MAIN
*/

.mini-container > * {
    margin: 10px;
}

.my-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.my-row {
    margin: 10px;
}

.my-card-1-3 {
    width: calc((100% / 3) - 20px);
    margin-bottom: 30px;
}

.my-row .my-card-1-3{
    border: 1px solid lightgray;
}

.card-icon {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.product-container > hr {
    border: 1px solid lightgray;
    width: 70px;
}

.product-container > *:not(:first-child) {
    margin-top: 20px;
}

.my-card-1-1 {
    width: 100vw;
    border: 1px solid lightgray;
}


.card-bottom {
    display: flex;
    justify-content: flex-start;
    
}

.my-row-3{
    display: flex;
    justify-content: flex-start;
    
}

.my-row-3 .my-col-2-3,.my-col-1-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-row-3 .my-col-2-3 img {
    width: calc(100% - 100px);
    margin: 50px;
}

.my-row-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.my-row-4 .my-card-1-3 img {
    width: calc(100% - 40px);
    
}

.my-row-4 .my-card-1-3 > * {
    margin: 20px;
}

section .product-container > * {
    margin: 20px;
}


.rectangle {
    width: 100vw;
}

.rectangle-container {
    display: flex;
}

.my-square {
    width: calc(100vw / 3);
    height: calc(100vw / 3);

    display: flex;
    flex-wrap: wrap;

}

.my-little-square {
    width: calc(100% / 2);
    height: calc(100% / 2);
}


.my-row-5{
    display: flex;
    justify-content: flex-start;
    
}

.my-row-5 .my-col-2-3,.my-col-1-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-row-5 .my-col-2-3 img {
    width: calc(100% - 100px);
    margin: 50px;
}

.question .mini-container {
    margin-bottom: 30px;
}

.question .mini-container h3{
    margin-bottom: 30px;
}

.question .mini-container p{
    margin-bottom: 20px;
    margin-top: 20px;

}


/* 
    FOOTER
*/

.footer-top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-row-6 {
display: flex;
justify-content: space-between;
align-items: center;
}

.my-col-1-5 > * {
    padding: 10px;
}

.my-col-1-5 > ul > * {
    padding: 5px;
}



/* 
    DEBUG
*/
.debug header .header-top > * {
    background-color: turquoise;
    border: 2px dashed green;
    height: 7vh;
}


.debug header .header-bottom {
    /* background-color: #3F48CC; */
    height: 780px;
    border: 2px dashed red;    
}

.debug header .header-bottom .header-bottom-up {
    height: 300px;
    background-color: red;
    border: 2px dashed yellow;

}

.debug header .header-bottom .header-bottom-down {
    height: 400px;
    background-color: green;
    border: 2px dashed yellow;
}

.debug header .header-bottom .header-bottom-down > * {
    border: 2px dashed blue;
}

/* MAIN */
.debug main .mini-container {
    background-color: #676ecd;
    margin-bottom: 50px ;
    margin-top: 50px ;
}

.debug main .mini-container h2 {
    background-color: red;
    border: 2px dashed blue;
}

.debug main .mini-container > div:first-of-type {
    background-color: red;
    border: 2px dashed blue;
}

.debug .mini-container .my-row .my-card-1-3 {
    background-color: purple;
    min-height: 500px;
}

.debug .mini-container .my-row .my-card-1-1 {
    background-color: red;
}

.debug .mini-container .my-row .my-card-1-1 .product-container .card-bottom  {
    min-height: 200px;
}

.debug .my-col-1-3 ,.debug .my-col-2-3{
    border: 2px dashed purple;
}

.debug .my-row-3, .debug .my-row-4 {
    background-color: purple;
}

.debug .my-row-3 > *, .debug .my-row-4 > * {
    border: 2px dashed orangered;
}

.debug section{
    background-color: red;
    min-height: 100px;
}

.debug .rectangle {
    background-color: #0093CE;
}

.debug .my-square {
    background-color: lightcoral;
    border: 2px dashed blue;
    

}

.debug .my-little-square {
    background-color: aqua;
    border: 2px dashed yellow;
}

.debug .my-row-5 {
    min-height: 300px;
}


.debug footer {
    background-color: black;
    min-height: 500px;
    color: white;
}


.debug .my-row-6 {
    background-color: purple;
    border: 2px dashed red;
}